// Descriptive Colors
$header: #673ab7;
$warn: #f44336;
$accent: #ffd740;

$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;

// Functional Colors
$primary--color: $header;
$secondary--color: $white;
