<div class="component">
  <h2>WebRTC</h2>
  <div>
    <button mat-flat-button color="primary" (click)="openCamera()">打开摄像头</button>
    <button mat-flat-button color="primary">关闭摄像头</button>
    <button mat-flat-button color="primary">开始录像</button>
    <button mat-flat-button color="primary">结束录像</button>
    <button mat-flat-button color="primary">连接服务器</button>
  </div>
  <mat-grid-list rowHeight="200px" cols="2" class="video-warp">
    <mat-grid-tile>
      <video #RtcVideo></video>
    </mat-grid-tile>
    <mat-grid-tile>
      2
    </mat-grid-tile>
    <mat-grid-tile>
      3
    </mat-grid-tile>
    <mat-grid-tile>
      4
    </mat-grid-tile>
  </mat-grid-list>
</div>
