@import '~@angular/material/theming';
@import './constants';

@include mat-core();

.cdk-overlay-container{
  .error {
    background-color: $error;
  }
  .info {
    background-color: $info;
  }
  .success {
    background-color: $success;
  }
  .warning {
    background-color: $warning;
  }
}
