# Created by .ignore support plugin (hsz.mobi)

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/release

# production
/dist
/.vscode

# dependencies
/node_modules

# resource
/resource

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode


# visual studio code
.history
*.log

functions/mock
.temp/**


# umi
.umi
.umi-production

