<div class="inline-page" #sideNav>
  <div class="logo" *ngIf="isOpenSideNav">
    <h3 (click)="routerTo('home/dashboard')" i18n>MaterialPro</h3>
  </div>
  <div class="logo" *ngIf="!isOpenSideNav">
    <h3 (click)="routerTo('home/dashboard')" i18n>M</h3>
  </div>
  <div class="menu" *ngFor="let menu of sideNavData; i as index;">
    <div [ngClass]="{'active': menu.isActive}">
      <button mat-button style="width: 100%" (click.stop)="onClickMenu(menu)">
        <mat-icon style="margin-right: 10px">{{menu.icon}}</mat-icon>
        <span style="margin-right: 50px" *ngIf="isOpenSideNav">
          {{menu.text}}
        </span>
      </button>
    </div>
    <!--    展开模式子菜单-->
    <div *ngIf="menu.isOpen && isOpenSideNav">
      <div class="sub-menu" [ngClass]="{'active': subMenu.isActive}"
           *ngFor="let subMenu of menu.children; y as index;">
        <button mat-button style="width: 100%" (click)="selectSubMenu($event, subMenu)">
          <span>
              {{subMenu.text}}
          </span>
        </button>
      </div>
    </div>
    <!--    关闭模式子菜单-->
    <div class="close-sub-menu" *ngIf="!isOpenSideNav">
      <div *ngIf="menu.isOpen" @easeInOut>
        <div [ngClass]="{'active': subMenu.isActive}"
             *ngFor="let subMenu of menu.children; y as index;">
          <button mat-button style="width: 100%" (click)="selectSubMenu($event, subMenu, menu)">
          <span>
              {{subMenu.text}}
          </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
