<div class="layout">
  <div class="left" *ngIf="isOpenSideNav">
    <app-side-nav [isOpenSideNav]="isOpenSideNav"></app-side-nav>
  </div>
  <div class="closed" *ngIf="!isOpenSideNav">
    <app-side-nav [isOpenSideNav]="isOpenSideNav"></app-side-nav>
  </div>
  <div class="right">
    <header>
      <app-header [(isOpen)]="isOpenSideNav"></app-header>
    </header>
    <div>
      <router-outlet></router-outlet>
    </div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</div>
