@import "styles/@color";
.page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .left{
    width: 200px;
    color: #ffffff;
    background: $background;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
  }
  .right{
    flex-grow: 1;
  }
}
