header {
  height: 64px;
  color: #fff;
  background-color: #1976d2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

section {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  padding-top: 80px;
}

footer {
  height: 120px;
}
