<div class="header-page">
  <div class="toggle" (click)="toggle()">
    <mat-icon>list</mat-icon>
  </div>
  <div class="control">
    <div class="action">
      <div (click)="openDialog('message')">
        <mat-icon>message</mat-icon>
      </div>
      <div (click)="openDialog('face')">
        <mat-icon>face</mat-icon>
        admin
      </div>
      <div (click)="openDialog('language')">
        <mat-icon>language</mat-icon>
      </div>
    </div>
    <div class="search">
      <mat-icon (click)="doSearch()">search</mat-icon>
      <input type="text" placeholder="站内搜索" class="search-input" id="search-input">
    </div>
  </div>
</div>
