<div class="header">
  <div class="header-left">
    <span class="pointer">MaterialPro</span>
  </div>
  <div class="header-content">
    <div>
      <div
        *ngFor="let router of routerLinkList; let i = index"
        class="list-item"
        [ngClass]="{ active: i === activeIndex }"
        (click)="navToPath(router.path, i)"
      >
        <span class="pointer">
          {{ router.text }}
        </span>
      </div>
    </div>
  </div>
  <div class="header-right">
    <span class="pointer">
      <a href="https://github.com/guobin211/material-pro" target="_blank">Git-Hub</a>
    </span>
    <span class="pointer">
      <a href="mailto:844922881@qq.com">Email</a>
    </span>
    <span class="pointer">
      <a href="">Twiter</a>
    </span>
  </div>
</div>
