/* You can add global styles to this file, and also import other style files */

// 重置全局样式
@import "./app/styles/@reset";

// 系统主题
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

// 自定义主题
@import "./styles.theme.scss";


html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Document scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

// 撑满flex容器
.full-space{
  flex: 1 1 auto;
}

/**
  clear float
 */
.clear:before,
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.clear {zoom: 1;} /* IE < 8 */

.scroll-page{
  overflow-y: scroll;
  overflow-x: hidden;
}

.inline-page{
  width: 100%;
  height: 100%;
}

.router-page{
  margin: 25px;
  background: #ffffff;
  min-height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-icon{
  cursor: pointer;
}
