<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button title="Docs menu" class="mat-button" (click)="isOpen = !isOpen">
      <span class="mat-button-wrapper">
        <mat-icon
          svgicon="menu"
          aria-hidden="true"
          role="img"
          class="mat-icon notranslate mat-icon-no-color"
        >
          <svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
        </mat-icon>
      </span>
    </button>
    <app-header></app-header>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="page">
  <mat-drawer mode="side" [opened]="isOpen">
    <app-side-bar></app-side-bar>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
